<br>

  <legend>Edit Record</legend>

  <div class="form-group">
    <label for="no">No</label>
    <input [(ngModel)]="emp.no" type="text" class="form-control" id="no" placeholder="Input field" name="no">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="emp.name" type="text" class="form-control" id="name" placeholder="Input field" name="name">
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input [(ngModel)]="emp.address" type="text" class="form-control" id="address" placeholder="Input field" name="address">
  </div>
  

  <button type="button" (click)="update()" class="btn btn-primary">Submit</button>

  <span>{{message}}</span>
